* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*the basic elements*/
:root {
    --primary-color: #A5B586;
    --second-color: white;
    --primary-font-family: arial;
    --second-font-family: "Edwardian Script ITC";
}

/*the body page*/
#home {
    display: flex;
    flex-direction: column;
    color: #9aaa79;
}

/*about the navbar*/
.nav {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    width: 100%;
    height: 10vh;
}

.nav_title {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

#icon_nav {
    display: none;
}

.nav_title img {
    flex-basis: 18%;
    height: 9.6vh;
}

.nav_title h1 {
    margin: 3vh 1vw;
    color: var(--second-color);
    font-family: var(--second-font-family);
}

.nav_bar {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding-left: 30vw;
}

.nav_bar a {
    text-decoration: none;
    color: var(--second-color);
    font-family: var(--primary-font-family);
    font-size: 17px;
    font-weight: 700;
}

.nav_bar a:hover {
    text-decoration: underline;
}

/*the home page*/
.container {
    display: flex;
    flex-direction: row;
}

/*about the left-frame*/
.cover {
    width: 50%;
    height: 90vh;
}

.cover_img {
    border: 1px solid var(--primary-color);
    height: 65%;
    margin-inline: 10vw;
    margin-top: 8vh;
    border-radius: 50%;
    animation-name: hide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes hide {
    from {
        background-image: url("images/alley_chayote.jpg");
        background-size: cover;
    }

    to {
        background-image: url("images/today_food2.jpg");
        background-size: cover;
    }
}

/*title*/
.cover_title {
    display: flex;
    flex-direction: row;
    font-family: var(--second-font-family);
    font-size: 50px;
    padding-inline: 3vw;
    color: var(--primary-color);

}

@keyframes showTitle {
    from {
        color: transparent;
    }

    to {
        color: inherit;
    }
}

#restaurant {
    animation-name: showTitle;
    animation-duration: 7s;
}

/*about the rigth-frames*/
.about {
    width: 50%;
    background-color: var(--primary-color);
    text-align: center;
    padding-block: 10vh;
    position: relative;
}

.about>p {
    font-family: var(--second-font-family);
    color: var(--second-color);
    font-size: 50px;
}

.text {
    margin-left: 5vw;
    margin-right: 8vw;
    margin-bottom: 1vw;
}

.text h2 {
    color: var(--second-color);
    font-family: var(--primary-font-family);
    font-size: 25px;
}

.text p {
    color: var(--second-color);
    font-family: var(--primary-font-family);
    font-size: 20px;
}

.about a:hover {
    transform: translateX(-1px);
}

.about .ready_btn {
    padding: 10px 55px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border: 2px solid var(--second-color);
    color: var(--second-color);font-weight: 700;
    font-family: var(--primary-font-family);
    text-decoration: none;
    border-radius: 10px;

}

.about .ready_btn:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}

/*social media*/
.network {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.network img {
    width: 3vw;
}

.network a {
    border: none;
    padding: 2vh;
}

/*in the phone*/
@media screen and (max-width : 1250px) {
    #home{
        position: relative;
    }
    .nav {
        width: 100%;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        position: sticky;
        top: 0;
    }

    .nav_title {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .nav_title h1 {
        font-size: 4vh;
    }

    #icon_nav {
        border: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #icon_home{
        display: none;
    }
    #icon_nav:hover{
        animation-name: showNavbar;
    }
    @keyframes showNavbar {
        from{
            #icon_home{
                display: none;
            }
        }
        to{
            #icon_home{
                display: flex;

            }
        }
    }
    .nav_bar {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    .cover {
        width: 100%;
        height: 80dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: change;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    .cover_img {
        border-style: none;
        margin:0%;
        border-radius: 0%;
        animation: none;
    }
    @keyframes change {
        from{
            background-image:  url(images/alley_chayote_darkMode.jpg);
            background-size: cover;
        }
        to{
            background-image:  url(images/today_food2_darkMode.jpg);
            background-size: cover;
        }
    }
    .cover_title {
        display: flex;
        flex-direction: column;
        font-family: var(--second-font-family);
        font-size: 5vh;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
    }
    .about {
        width: 100%;
        background-color: var(--primary-color);
        text-align: center;
        position: relative;
        padding-block: 4vh 15vh;
    }
    .about>p {
        font-family: var(--second-font-family);
        color: var(--second-color);
        font-size: 3rem;
    }
    .network {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        width: 100%;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
    }
    .network img {
        width: 9vw;
    }
    
    .network a {
        border: none;
        padding: 2vh;
    }
}